{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>FYP - Is Your Network Safe?</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/loader.css' %}" rel="stylesheet">
  

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/grayscale.min.css' %}" rel="stylesheet">
  
  
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>

<body id="page-top">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">The Boyes</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'scan_history' %}">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home' %}#products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
    
        <h1 class="mx-auto my-0 text-capitalize">Welcome {{firebasename}}</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Select the scan type to proceed</h2>
        


        <form class="text-center" method="post">
          {% csrf_token %}
          <div class="btn-group">
            <a class="btn btn-primary" href="{% url 'normal' %}" type="button">Light Scan</a>
          
          </div>
              <!-- <ul class="dropdown-menu">
                <li><a href="{% url 'normal' %}">Normal Scan</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'welcome' %}">Authenticated Scan</a></li>
              </ul> -->
              <div class="btn-group">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Deep Scan</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'full' %}">Normal Scan</a>
                <a class="dropdown-item" href="{% url 'full_auth' %}">Authenticated Scan</a>
                
              </div>
            </div>

            <!-- <a class="btn btn-primary" >Authenticated Scan</a> -->
          </div> 
                       
        </form>
    </div>
  </header>
    
  <!--table here-->

  <section id="products" class="projects-section bg-light">
    <div class="container">
      <h2 class="scan-header">Scan Type Details</h2>
      <table class="scan-details">
        <thead>
            <tr>
                <th>Light Scan</th> <th>Full Scan</th> <th>Test performed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Fingerprint web server software</td>
            </tr>
            <tr>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Analyze HTTP headers for security misconfiguration</td>
            </tr>
            <tr>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check the security of HTTP cookies</td>
            </tr>
            <tr>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check the SSL certificate of the server</td>
            </tr>
            <tr>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check if the server software is affected by known vulnerabilities</td>
            </tr>
            <tr>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Analyze robots.txt for interesting URLs</td>
            </tr>
            <tr>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check whether a client access file exists, and if it contains a wildcard entry (clientaccesspolicy.xml, crossdomain.xml)</td>
            </tr>
            <tr>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Discover server configuration problems such as Directory Listing</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Crawl website</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check for SQL Injection</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check for Cross-Site Scripting</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check for Local File Inclusion and Remote File Inclusion</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check for OS Command Injection</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check for outdated JavaScript libraries</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Find administrative pages</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check for sensitive files (archives, backups, certificates, key stores) based on hostname and some common words</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Attempt to find interesting files/functionality</td>
            </tr>
            <tr>
                <td class="align-center alert-danger"><i class="ace-icon fa fa-times bigger-110 red" aria-hidden="true"></i></td>
                <td class="align-center alert-success"><i class="ace-icon fa fa-check bigger-110 green" aria-hidden="true"></i></td>
                <td>Check for information disclosure issues</td>
            </tr>
        </tbody>
    </table>
  </div>

</div></section>
      <!--
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'img/demo-image-01.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Misty</h4>
                <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

   
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'img/demo-image-02.jpg' %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Mountains</h4>
                <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

 
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">4923 Market Street, Orlando FL</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@yourdomain.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (555) 902-8832</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>
  -->

  
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/grayscale.min.js' %}"></script>
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; TheBoyes 2021
    </div>
  </footer>
</body>

</html>
