{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>FYP - Is Your Network Safe?</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/loader.css' %}" rel="stylesheet">
  

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/grayscale.min.css' %}" rel="stylesheet">
  
  
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>

<body id="page-top">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">The Boyes</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'scan_history' %}">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'home' %}#products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <style>
      .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    overflow: auto;
    background-color:white;

  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  h1
  {
    font-family: "Lato", Arial, sans-serif;
  }

  p
  {
    font-family: "Roboto", Arial, sans-serif;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  
  .btn-group {
    text-align: center;
    margin:auto;
    border: 1px solid;
  }

  .avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .avatardiv
  {
    padding-top: 10px;
  }</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


  <section id="signup" class="signup-section">
    <div class="card">
        <div class="avatardiv">
            <i class="far fa-address-card fa-3x"></i>
        
        </div>
          <h1>{{firebasename}}</h1>
          <p class="title">{{emel}}</p>
          <p>Fill in the form and click the button to reset your password</p> 
         
          <p class="btn-group">
            <form action="/profileupdate/" method="post">
                {% csrf_token %}
            <input type="password" class="form-control" name="respass" placeholder="Password" required>
            <input type="password" class="form-control" name="respassconf" placeholder="Confirm Password" required>
            <input type="hidden" name="resetemail" value={{emel}}>
            <button type="submit" class=".btn-default">Reset Password</button>
        </form> 
        </p>
        {% if msgg %}
                      <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{msgg}}
                      </div>

                    {% endif %}
        </div>
   
  </section>



    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  
    <!-- Custom scripts for this template -->
    <script src="{% static 'js/grayscale.min.js' %}"></script>
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; TheBoyes 2021
      </div>
    </footer>
  </body>
  
  </html>
  